body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: auto;
    margin: 10 auto;
  }
  
  .header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .link-container {
    margin-top: 20px;
  }
  
  .link {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    padding: 5px;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    text-align: center;
  }
  
  .link:hover {
    background-color: #2980b9;
  }