/* HomePage.css */
.home-page {
    max-width: 600px;
    margin: 20px auto;
    background-color: #124082;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .button-primary {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button-primary:hover {
    background-color: #2980b9;
  }